$blue: rgb(200, 200, 255);

:host {
  display: block;
  font-family: helvetica, sans-serif;
  header {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    background-color: $blue;
  }
  section {
    .video-container {
      width: 100%;
      height: 320px;
      margin: 20px;
      border: 1px solid $blue;
      .vjs-dock-shelf {
        visibility: hidden;
      }
    }
  }
}

.video-js .vjs-dock-text {
  visibility: hidden;
}

