<!-- 
This is a sample Polymer-based widget using ES6 and Sass with PostCSS
-->
<dom-module id="video-widget">
    <!-- scoped CSS for this element -->
    <link rel="stylesheet" type="text/css" href="build/index.css">
    <template>
        <header class="header">{{headerTitle}}<button class="fullscreen">Go Fullscreen</button></header>
        <section class="content">
            <div class="video-container"></div>
        </section>
    </template>
    <script src="build/index.js"></script>
</dom-module>
